body {
  padding: 10px;
}

h4 {
  color: gold;
  font-size: 100px;
}

/* Comentários em CSS */
/* Mais um comentário */

.paragrafo {
  background-color: black;
  color: aqua;
  padding: 5px;
}

#nome {
  color: yellow;
  background-color: purple;
  padding: 5px;
}

/* Inserindo cores usando nome das mesmas */
.class-name {
  color: crimson;
}

/* Inserindo cores usando hexadecimal */
.class-hex {
  color: #1d0;
}

/* Inserindo cores usando RGBA, praticando opacidade */
.class-rgba {
  color: rgba(100, 150, 200, 0.2);
  background-color: rgb(167, 117, 117);
  padding: 5px;
}

.teste1 {
  background-color: yellow;
  color: red;
}

#teste2 {
  background-color: red;
  color: yellow;
}

.opacity {
  background-color: blueviolet;
  opacity: 0.45;
}

/* Inserindo imagem no background dos elementos HTML */
.imagem {
  background-image: url(img/animal-1.webp);
  color: wheat;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

/*Aplicando uma regra para mult elementos*/
.centralizando-imagem1,
.centralizando-imagem2 {
  background-image: url(img/animal-2.webp);
  padding: 5px;
  height: 600px;
  width: 500px;
  color: red;
  margin-top: 10px;
}

/*centralizando apenas uma imagem*/
.centralizando-imagem2{
  background-position: center;
  background-size: cover;
}

.centralizando-imagem1{
  background-position: center;
  background-size: cover;
}


/* largura e altura */
.largura-altura1{
  height: 200px;
  width: 100px;
  background-color: red;
  margin-top: 25px;
  margin: 30px;
}


.largura-altura2{
  height: 300px;
  background-color: blue;
  margin-top: 25px;
  margin: 30px;
}

/*aplicando padding em 2 elementos*/
.este-conteudo-tem-padding,
.este-conteudo-sem-padding{
  background-color: yellow;
  color: black;
  /*padding: 30px;*/
}

.este-conteudo-tem-padding{
  padding: 30px;
  background-color: red;
}


/*Padding individual*/
.padding-individual{
  font-size: 40px;
  color: white;
  background-color: orange;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-bottom: 40px;
  border: solid red 5px;
  margin: 20px;
}